@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-container {
  height: 100vh;
  width: 100vw;
  .announcement {
    width: 100wv;
    height: 4.4vh;
    background-color: #3772ff;
    p {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 26px;
      text-align: center;
      position: relative;
      top: 25%;
    }
  }
  .inner-container {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95.6vh;
    color: #fff;
    .left-bar {
      height: 100%;
      width: 18vw;
      padding: 2.5rem;
      position: relative;
      transition: width 0.2s ease-in-out;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-info {
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          .user-avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            background-color: #3772ff;
            position: relative;
            h2 {
              position: absolute;
              top: 10%;
              left: 26%;
            }
          }
        }
        .minimize {
          cursor: pointer;
          .icon {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      .navigations {
        margin: 2.5rem 0 0 -1rem;
        color: #808191;
        .options {
          margin: 0.5rem 0;
          padding-left: 1rem;
          font-family: "Inter", sans-serif;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          height: 4rem;
          border-radius: 12px;
          &:hover {
            background-color: #353945;
            border-radius: 12px;
            cursor: pointer;
            transition: 0.3s;
          }
          .icon {
            width: 2rem;
            height: 2rem;
            margin-right: 2rem;
          }
        }
      }
      .extras {
        position: absolute;
        bottom: 2rem;
        right: 4rem;
        left: 2rem;
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.7rem;
          cursor: pointer;
          .price {
            background-color: #353945;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            height: 3rem;
            border-radius: 10px;
            font-family: "Inter", sans-serif;
            .user-avatar {
              height: 25px;
              width: 25px;
              background-color: #3772ff;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 10px;
            }
          }
          .buy {
            word-spacing: 0.2rem;
            background-color: #a3e3ff;
            color: #3772ff;
            width: 100%;
            height: 3rem;
            border-radius: 10px;
            font-family: "Inter", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .toggles {
          margin-top: 1rem;
          height: 3rem;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.8rem;
          .icon{
            color: #808191;
          }
          .switch{
            position: relative;
            display: inline-block;
            width: 70px;
            height: 34px;
            span{
              color: #808191;
              .moon{
                position: absolute;
                top: 7px;
                left: 5px;
                font-size: 1.3rem;
              }
              .sun{
                position: absolute;
                top: 7px;
                right: 5px;
                font-size: 1.3rem;
              }
            }
            input{
              opacity: 0;
              width: 0;
              height: 0;
            }
            .slider{
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #353945;
              border-radius: 34px;
              &::before{
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: #fff;
                transition: 0.3s ease;
                border-radius: 50%;
                z-index: 99;
                background-color: #3772ff;
              }
            }
            input:checked + .slider:before {
              transform: translateX(36px);
            }
          }
          .icon {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
    .inactive {
      height: 100%;
      width: 5vw;
      padding: 2.5rem;
      position: relative;
      .user{
        margin-left: -1rem;
        gap: 0.5rem;
        .user-info {
          margin-left: 0;
          .user-name {
            display: none;
          }
        }
      } 
      .navigations .options p {
        display: none;
      }
      .extras{
        right: 0.8rem;
        left: 0.8rem;
        .buttons{
          flex-direction: column;
          .price{
            gap: 0.2rem;
          }
          .buy{
            gap: 0.2rem;
          }
      } 
      }
    }
    .middle {
      height: 100%;
      flex: 1;
      border-left: 2px solid #242731;
      border-right: 2px solid #242731;
      display: flex;
      gap: 3rem;
      padding: 2.5rem 3.5rem 2.5rem 3.5rem;
      font-family: "Inter", sans-serif;
      flex-direction: column;
      .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          font-weight: 600;
          .line {
            width: 100%;
            height: 3px;
            background-color: #3772ff;
            border-radius: 10px;
            margin-top: 5px;
          }
        }
        .wallet {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          background: #191b20;
          border-radius: 12.2549px;
          padding: 0.5rem 1rem 0.5rem 1rem;
          .icon {
            color: #3772ff;
            height: 1.5rem;
            width: 1.5rem;
          }
          .price {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 1.2rem;
            margin-right: 1rem;
          }
          .tier {
            background: #a3e3ff;
            border-radius: 5px;
            padding: 0.1rem 0.5rem 0.1rem 0.5rem;
            color: #3772ff;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
          }
        }
      }
      .tut-bar {
        width: 100%;
        background: #abe8ff;
        border-radius: 10px;
        color: #2b2557;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        padding: 1.5rem;
        font-size: 1.2rem;
        position: relative;
        .button {
          padding: 0.3rem 1.3rem 0.3rem 1.3rem;
          background-color: #fff;
          border-radius: 6px;
          width: max-content;
          margin-top: 1rem;
          cursor: pointer;
        }
        .tut-image {
          position: absolute;
          height: 8rem;
          width: 8rem;
          right: 2rem;
          bottom: -1rem;
        }
        .cross {
          background-color: #fff;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          position: absolute;
          top: -0.7rem;
          right: -0.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      .reward-bar {
        background-color: #191b20;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        .title {
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          font-size: 1.5rem;
        }
        .amount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          margin: 1rem 0;
          .amt {
            font-family: "Poppins", sans-serif;
            font-size: 2rem;
            font-weight: 600;
          }
          .btn {
            background-color: #3772ff;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 1.1rem;
            padding: 0.7rem 1.2rem 0.7rem 1.2rem;
            border-radius: 10px;
            .icon {
              margin-right: 0.5rem;
              height: 1.2rem;
              width: 1.2rem;
            }
          }
        }
        .etc {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          gap: 1rem;
          .btn {
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            font-size: 0.9rem;
            border-radius: 11px;
            background-color: #353945;
            padding: 0.4rem 0.8rem 0.4rem 0.8rem;
          }
        }
      }
      .hide-tut{
        display: none;
      }
      .link-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        .links {
          background: #191b20;
          opacity: 0.8;
          border-radius: 16px;
          padding: 1.5rem;
          width: 100%;
          .fee {
            font-family: "Poppins", sans-serif;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            font-size: 1.4rem;
            .icon {
              width: 1rem;
              height: 1rem;
              margin-right: 0.5rem;
              background: linear-gradient(135deg, #bbb5e2 0%, #9c92df 100%);
              border-radius: 50%;
              padding: 0.5rem;
            }
          }
          .title {
            color: #808191;
            font-family: "Inter", sans-serif;
            margin: 1.2rem 0;
            font-size: 1.2rem;
          }
          .link {
            border-radius: 8px;
            background-color: #242731;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 1.2rem;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
      .tabs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .select-tab {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 1.2rem;
          .tab {
            cursor: pointer;
            color: #808191;
            .line {
              width: 100%;
              height: 3px;
              background-color: inherit;
              border-radius: 10px;
              margin-top: 5px;
            }
          }
          .active{
            color: #fff;
            .line{
              background-color: #3772ff;
            }
          }
        }
      }
      .info {
        .titles {
          background-color: #191b20;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 3rem;
          font-weight: 500;
          font-family: "Inter", sans-serif;
          .title {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .details {
          background: rgba(36, 39, 49, 0.4);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 5rem;
          display: none;
          .tab {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .asset {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .info {
              .detail {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #808191;
                font-size: 0.8rem;
                .btn {
                  background-color: #353945;
                  border-radius: 8px;
                  width: 3rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-left: 0.5rem;
                  font-size: 0.6rem;
                  color: #fff;
                  padding: 0.2rem 1.8rem 0.2rem 1.8rem;
                  img {
                    width: 0.6rem;
                    height: 0.6rem;
                    margin-right: 0.2rem;
                  }
                }
              }
            }
          }
          .amount {
            display: flex;
            flex-direction: column;
            .status {
              color: #808191;
              font-size: 0.95rem;
              text-transform: capitalize;
            }
          }
          .referral {
            display: flex;
            flex-direction: column;
            .link {
              color: #808191;
              font-size: 0.8rem;
              display: flex;
              align-items: center;
              gap: 0.3rem;
              .icon {
                height: 0.6rem;
                width: 0.6rem;
              }
            }
          }
        }
        .active-user{
          display: block;
          background: rgba(36, 39, 49, 0.4);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 5rem;
        }
      }
    }
    .right-bar {
      height: 100%;
      width: 25vw;
      padding: 3rem 3rem 3rem 3rem;
      .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.8rem;
        margin-bottom: 3rem;
        .cryptoDrop {
          flex: 5;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #353945;
          border-radius: 10px;
          gap: 0.5rem;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 1.2rem;
          padding: 0.7rem 0 0.7rem 0;
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
          .icon{
            font-size: 0.9rem;
          }
        }
        .wallet{
          flex: 6.5;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #3772ff;
          border-radius: 10px;
          gap: 1rem;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 1.2rem;
          padding: 0.7rem 0 0.7rem 0;
          .wallet-icon{
            color: #3772ff;
          }
          .icon-arrow{
            font-size: 0.9rem;
          }
        }
      }
      .link-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.7rem;
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: 1.4rem;
          .icon {
            width: 1rem;
            height: 1rem;
          }
        }
        .link {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 1.3rem;
          margin: 2rem 0;
          width: 100%;
          input {
            background-color: #242731;
            border: none;
            border-radius: 12px;
            width: 100%;
            height: 3rem;
            padding: 0 1rem 0 1rem;
            font-size: 1.3rem;
            color: #fff;
            font-weight: 300;
            margin-top: 1.5rem;
            &::placeholder {
              font-size: 0.9rem;
              font-family: "Inter", sans-serif;
              font-weight: 600;
            }
            &:focus {
              outline: none;
            }
          }
        }
        .btns {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          width: 90%;
          cursor: pointer;
          .cLink {
            background-color: #3772ff;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            width: 100%;
            font-size: 1.1rem;
            padding: 0.7rem 1.2rem 0.7rem 1.2rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              margin-right: 0.5rem;
              height: 1.2rem;
              width: 1.2rem;
            }
          }
          .cancel {
            width: 100%;
            border: 1px solid #242731;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 1.1rem;
            padding: 0.7rem 1.2rem 0.7rem 1.2rem;
            .icon {
              margin-right: 0.5rem;
              height: 1.2rem;
              width: 1.2rem;
            }
          }
        }
      }
    }
  }
  .light{
    background-color: rgb(240, 245, 246);
    color: #000;
    .left-bar{
      .navigations{
        color: black;
        .options{
          &:hover{
            background-color: #3772ff;
          }
        }
      }
      .extras{
        .buttons{
          .price{
            background-color: rgba(128, 128, 128, 0.74);
          }
        }
        .toggles{
          .icon{
            color: #000;
          }
          .switch{
            span{
              .sun{
                color: gray;
              }
            }
            .slider{
              background-color: #abe8ff;
            }
          }
        }
      }
    }
    .middle{
      .top-bar{
        .wallet{
          margin: 1px solid red;
          background: rgb(189, 212, 241);
        }
      }
      .reward-bar{
        background-color: #3772ff;
        color: #fff;
        .etc{
          .btn{
            background-color: #35394544;
          }
        }
      }
      .link-bar{
        .links{
          background: #3772ff;
          opacity: 1;
          color: #fff;
          .title{
            color: #fff;
          }
          .link{
            background-color: #e2f7ff;
            color: #000;
          }
        }
      }
      .tabs{
        color: white;
        .select-tab{
          .tab{
            color: #414353;
          }
          .active{
            color: #000;
          }

        }
      }
      .info{
        .titles{
          background-color: #3772ff;
        }
        .details{
          background-color: #a7c0fb;
          color: #000;
          .asset{
            .info{
              .detail{
                color: #000;
                .btn{
                  background: rgb(211, 228, 250);
                  color: #000;
                }
              }
            }
          }
          .amount{
            .status{
              color: #000;
            }
          }
          .referral{
            .link{
              color: #000;
            }
          }
        }
      }
    }
    .right-bar{
      .btns{
        .cryptoDrop{
          background-color: #3772ff;
          color: #fff;
        }
      }
      .link-sec{
        .link{
          input{
            background-color: #abe8ff;
            color: #000;
          }
        }
        .btns{
          .cLink{
            color: #fff;
          }
          .cancel{
            background-color: #d4f0fc;
            border: none;
          }
        }
      }
    }
  }
}
